@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@300;400&display=swap');

*, *::before, *::after{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    height: 100%;
}
body{
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
}
main{
  margin-top: 60px;
}
button, .button{
  margin: 5px;
  font-size: 17px;
  font-weight: 600;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnav{
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #121D33;
  height: 60px;
  padding: 0px 5rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 100%;
  z-index: 1000;
}

.logo{
  flex: 2;
  display: flex;
  gap: 10px;
}
.nav-brand{
  margin-top: 15px;
}
.nav-logo{
  margin-top: 10px;
}

.topnav-main{
  display: flex;
  flex-direction: row;
  flex: 8;
}
.topnav-left{
   display: flex;
   flex: 1;
   gap: 20px;
}

.topnav-right{
   display: flex;
   align-items: center;
   flex: 1;
}
.search-cart{
  display: flex;
  flex: 1;
  justify-content: center;
  justify-content: space-evenly;
  font-weight: 600;
}
.sign-btn{
  display: flex;
  gap: 20px;
  flex: 1;
}
.sign-btn > * {
  flex-basis: 100%;
  width: 90px;
  height: 40px;
  background: #0c6cf2;
}

.topnav .icon{
  display: none;
  color: #f9f9f9;
}
.topnav .icon:focus{
  color: #d3cbcbde;
}
.dropdown-content-1, .dropdown-content-2{
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  z-index: 1;
  margin-top: 2px;
}

.dropdown-content-1 a, .dropdown-content-2 a{
    color: #27313a;
    padding: 12px 16px;
    text-align: left;
    font-weight: 500;
}
.dropdown-content-1 a:hover, .dropdown-content-2 a:hover{
  background-color: #c1c1c1;
}

.dropdown-1:hover .dropdown-content-1, .dropdown-2:hover .dropdown-content-2{
    display: flex;
    flex-direction: column;
}
.drop-btn {
  border: none;
  outline: none;
  color: #98a1a6;
  padding: 14px 16px ;
  background-color: inherit;
  font-family: inherit;
  font-size: 2ch;
  font-weight: 600;
  margin: 0;
}
.login-btn:focus,
 .signup-btn:focus{
   outline: 0;
 }
.login-btn{
  background-color: #2a3448;
  width: 75px;
  height: 38px;
}
.search-cart a:hover{
  color: #00c4cc;
}
.login-btn:hover{
    background-color: #475672fd;
 }
 .signup-btn:hover{
    background-color: #0c4fad;
 }
 .search-cart a, .search-cart button{
    padding-left: 16px ;
    color: #98a1a6;
    font-size: 1.2em;
    font-weight: 600;
 }
/*============================SMALL SIZE==============================*/
/*=====================================================================*/
@media screen and (max-width:768px){
  .topnav .icon {
    display: block;
    color: #ffffff;
  }
  .icon i{
    font-size: 1.5em;
  }

  .topnav{
    padding: 0px 2rem;
  }
  .logo{
    display: flex;
    justify-content: center;
  }

  .topnav-main{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 80%;
    height: auto;
    border-radius: 0 4px 4px  4px;
    background-color: #f1f1f1; 
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  }
  .search-cart a:not(:last-child){
      display: flex;
      position: absolute;
      top: -450px;
      left: 0%;    
  }
  .active{
   display: block;
 }
 .drop-btn {
   color: #27313a;
}
 .topnav-left{
   flex-direction: column;
   padding: 7%;
   gap: 0;
   font-size: 14px;
 }
 .topnav-right{
   flex-direction: column;
   align-items: flex-start;
   padding-left: 7%;
 }
 .search-cart{
    padding: 0 0 7% ;     
 }
 .sign-btn{
    flex-direction: row;
    flex-basis: 100%;
    max-width: 250px;
    padding: 3% 0 7% 0 ;
    border-top: 1px solid #121D33; 
 }
 #packages{
  color: #27313a;
  font-size: 17px; 
}
 .dropdown-content-1 a, .dropdown-content-2 a{
  color: #27313a;
 }
 .dropdown-content-1, .dropdown-content-2{
    background-color: inherit;
    box-shadow: none;
    font-size: 13.5px;
    position: relative;
 }
}



/*==============================main start==================================*/

/* testimonial start */

.testimonials{
   padding: 40px;
  text-align: center; 
  }
  .testimonials h2{
    padding: 40px;
    color: #fca157;
  }
.testimonials-contents{
 display: grid;
 grid-gap: 40px;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.testimonials-contents p{
  padding: 30px;
  border: solid black 2px;
  background-color: #fcfcfc;
  border-radius:  10% 0 10% 10%  ;
}